<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796199006705-eoubjsbok8ohiitq2imbrkq3gvju3tqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796199006705-eoubjsbok8ohiitq2imbrkq3gvju3tqt</string>
	<key>API_KEY</key>
	<string>AIzaSyC-YAK2PzEEDcZaQkBdn04yRNY8ZpN0E-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>796199006705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vk.com.south.russian.EIT-Remote</string>
	<key>PROJECT_ID</key>
	<string>eitremote-8b02e</string>
	<key>STORAGE_BUCKET</key>
	<string>eitremote-8b02e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796199006705:ios:944c79439e99b1049e5450</string>
</dict>
</plist>